body {
    padding: 0px 0px 0px 40px;
}

.header {
    font-family: "Garamond", serif;
    font-size: 25px;
    font-variant: small-caps;
    border-bottom: 4px solid black;
    width: 95%;
    height: 60px;
    margin-bottom: 45px;
}

.foto img{
    width: 200px;
    border-radius: 50%;
    float: left;
}

.identitas {
    font-family: "Candara", sans-serif;
    font-size: 18px;
    width: 180px;
    float: left;
    margin-left: 20px;
    line-height: 40px;
    margin-top: 30px;
}

.nama b{
    font-family: "Garamond", serif;
    font-variant: small-caps;
    font-size: 40px;
}

td {
    font-family: "Candara", sans-serif;
    font-size: 18px;
    padding-bottom: 10px;
}

.tabel {
    height: 150px;
    padding-top: 30px;
    padding-left: 100px;
    margin-left: 100px;
    float: left;
    border-left: 2px solid black;
}

.data {
    padding-left: 65px;
}

.info {
    box-align: center;
    width: 1100px;
    margin: 0 auto;
}

.tentang {
    margin-top: 280px;
    margin-right: 50px;
}

h2 {
    font-variant: small-caps;
    text-decoration: underline;
    margin-bottom: 2px;
    letter-spacing: 2px;
}

.tentang p {
    font-family: "Candara", sans-serif;
    text-indent: 50px;
    text-align: justify;
    margin-bottom: -10px;
    margin-left: 20px;
    font-size: 18px;
}

#opening {
    text-indent: 0px;
}

body {
    background-image: url(https://images.pexels.com/photos/950241/pexels-photo-950241.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

#findme {
    text-decoration: none;
    float: left;
    margin-right: 50px;
}

#ig {
    width: 50px;
    float: left;
    margin-top: 11px;
}

#line {
    width: 40px;
    float: left;
    margin-top: 15px;
    margin-right: 5px;
}

.sosmed p{
    font-family: "Candara", sans-serif;
    font-size: 18px;
    margin-top: 25px;
    margin-right: 50px;
    float: left;
}

.sosmed {
    margin-left: 30%;
    margin-top: 35px;
}